<header class="header">
	<div class="container">
		<h1 class="header-logo">
			Em<span class="logo-canto">Ca<span class="logo-title">n</span>to</span>

		</h1>

		<nav class="header-menu">
			<a href="index.html" class="header-menu-link"><span>Home</span></a>
			<a href="about.html" class="header-menu-link">About</a>
			<a href="portfolio.html" class="header-menu-link">Portfolio</a>
			<a href="contact.html" class="header-menu-link">Contact</a>
		</nav>

		<button class="menu-mobile"><i class="fas fa-bars"></i></button>
	</div>
</header>